 <div style="padding-left: 365px; width: 50%;">
            <div class=" card border-0 shadow-lg ">
                <div class="card-body">
                    <span class="float-left">
                    <b>Akdeniz Yemekleri</b>
                    </span>
                    <span class="float-right">
                <a href="https://www.facebook.com/alper.kacar.9674/">
                    <i class="fa-brands fa-facebook-f mx-2"></i>
                </a>
                <a href="https://twitter.com/alperkcr">
                    <i class="fa-brands fa-twitter mx-2"></i>
                </a>
                <a href="https://www.instagram.com/alperkcr_/">
                    <i class="fa-brands fa-instagram mx-2"></i>
                </a>
                <a href="https://www.linkedin.com/in/alper-kacar-b44558233/">
                    <i class="fa-brands fa-linkedin-in mx-2"></i>
                </a>
                <a href="https://github.com/chivasper">
                    <i class="fa-brands fa-github mx-1"></i>
                </a>
            </span>
        </div>
        <div class="card-footer text-center">
            <small>Yemek Tarifleri tüm hakları saklıdır. Copyright 2022</small>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</body>
</html>
