 <div class="fixed-top-right ">
        <div class="list-group ">
            <a href="" class="list-group-item list-group-item-action" style="background-color: rgba(133, 133, 133, 0.829);"><h4 >ŞEHİRLER</h4></a>
            <a href="/isparta" class="list-group-item list-group-item-action:hover " >Isparta</a>
            <a href="/burdur" class="list-group-item list-group-item-action:hover " >Burdur</a>
            <a href="/antalya" class="list-group-item list-group-item-action:hover " >Antalya</a>
            <a href="/mersin" class="list-group-item list-group-item-action:hover " >Mersin</a>
            <a href="/adana" class="list-group-item list-group-item-action:hover " >Adana</a>
            <a href="/kahramanmaras" class="list-group-item list-group-item-action:hover " >Kahramanmaraş</a>
            <a href="/osmaniye" class="list-group-item list-group-item-action:hover " >Osmaniye</a>
            <a href="/hatay" class="list-group-item list-group-item-action:hover " >Hatay</a>
        </div>
    </div>