 <div class="text-center my-5" style="padding-top: 50px;">
        <h1>Antalya Yöresel Yemeklerin Tarifleri</h1>
    </div>
    
    <div class="container my-5">
        <div class="row">
            <div class="row">
                <div class="col-sm-4 my-3   ">
                    <img src="resimler/antalya-piyazi-tarifi.webp"  style="font-size: 12px;width: 450px;height: 380px; ">
                    <h3 class="my-3"> Antalya piyazı Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3> Antalya piyazı Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>2 su bardağı kuru fasulye (haşlanmış)</li>
                        <li>1 adet kuru soğan</li>
                        <li>1 adet domates</li>
                        <li>1 tutam maydanoz</li>
                        <li>2 adet haşlanmış yumurta</li>
                    </ul>
                    <h4>Tarator Sosu için</h4>
                    <ul>
                        <li>3 yemek kaşığı haşlanmış kuru fasulye</li>
                        <li>1 çay bardağı tahin</li>
                        <li>3 diş sarımsak</li>
                        <li>Yarım çay bardağı elma sirkesi</li>
                        <li>Yarım adet limon suyu</li>
                        <li>Yarım çay bardağı zeytinyağı</li>
                        <li>Kimyon</li>
                        <li>Tuz</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Bir gece önceden ıslattığınız fasulyeler eğer sıcak suyla ıslatıldıysa pişirirken de sıcak su, eğer soğuk suyla ıslatıldıysa pişirirken de soğuk su kullanmalıyız.</li>
                        <li>10 dk kadar düdüklüde haşlayabilirsiniz.</li>
                        <li>Tarator sosu için haşlanmış fasulyeden 3 yemek kaşığı alıp çatalla ezin. Bu sos için bağlayıcı olacaktır.</li>
                        <li>Tahin, sirke, limon suyu,baharatlar ve rendelenmiş sarımsak ile birlikte robottan geçirin.</li>
                        <li>Boza kıvamından biraz daha ince olması için gerekirse haşlanmış fasulyenin suyundan ilave edin.</li>
                        <li>Sosu kuru fasulyeye ekleyip iyice karıştırın.</li>
                        <li>Soğanları yarım ay şeklinde yani adı üstünde piyazlık doğrayıp domatesleri de küp küp kesip kaseye ekleyin.</li>
                        <li>Kıyılmış maydanoz ve iri doğranmış katı yumurtayla süsleyin.</li>
                    </ol>
                </div>
                <div class="col-sm-4 my-3   ">
                    <img src="resimler/huluklu-corba.jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Hülüklü çorba Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Hülüklü çorba Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>250 gram kıyma</li>
                        <li>500 gram tavuk eti</li>
                        <li>4 su bardağı su</li>
                        <li>1 kase haşlanmış nohut</li>
                        <li>1 kahve fincanı pirinç</li>
                        <li>1 adet domates</li>
                        <li>1 yemek kaşığı salça</li>
                        <li>1 çay kaşığı karabiber</li>
                        <li>1 çay kaşığı kırmızıbiber</li>
                        <li>1 yemek kaşığı nane</li>
                        <li>1 adet limon</li>
                        <li>1 yemek kaşığı tereyağı</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Tavuk etini 5 su bardağı suyla birlikte haşlanmaya bırakın.Gülük adı verilen köfteler için kıyma, tuz, karabiber ve kırmızı biberi derin bir kasede yoğurun.</li>
                        <li>Nohut büyüklüğünde minik köfteler haline getirin.Sıvı yağı kızdırıp köfteleri kızartın.Domatesi rendeleyin.</li>
                        <li>Çorba için tereyağını ve 2 yemek kaşığı sıvı yağı tencerede kızdırın.İçine salçayı ilave edip kavurun.</li>
                        <li>Domates rendesini ekleyip kavurmaya devam edin.Haşladığınız tavuğun suyunu tencereye ekleyin.Üzerine 3-4 bardak daha sıcak su ilave edip kaynamasını bekleyin.</li>
                        <li>Kaynayan çorbaya pirinç ve tuzu ekleyip 5 dakika daha kaynatın.</li>
                        <li>Ardından köfteleri, haşlanmış nohutu ve didiklenmiş tavuk etini ekleyin.</li>
                        <li>Bir taşım daha kaynattığınız çorbaya naneyi ve limon suyunu ekleyip ocaktan alın. Afiyet olsun…</li>
                    </ol>
                </div>
                <div class="col-sm-4 my-3   ">
                    <img src="resimler/alanya-bohcasi.jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Alanya bohçası Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Alanya bohçası Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>2 yumurta</li>
                        <li>2 su bardağı un</li>
                        <li>1, 2 çay bardağı sıvı yağ</li>
                        <li>1 su bardağı süt</li>
                        <li>1 su bardağı su</li>
                        <li>1 çay kaşığı tuz</li>
                    </ul>
                    <h4>İç harcı içi</h4>
                    <ul>
                        <li>Lor peyniri</li>
                        <li>1 demet maydanoz doğranmış</li>
                    </ul>
                    <h4>Bağlamak için</h4>
                    <ul>
                        <li>Ne kadar krep yapacaksınız o kadar maydanoz sapı yada taze soğan yeşil kısımları kullanılacak sıcak suda bekletilmiş</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Krep yapmak için tüm malzemeleri bir kapta yavaşça çırpın.</li>
                        <li>Isıtılmış krep tavasını yada yanmaz yapışmaz tavada fırçala yağlayın ve bir kepçe krep harcı döküp tüm tavaya yayılmasını sağlayın</li>
                        <li>Alt kısmı pişen krepin diğer tarafında pişirdikten sonra ocaktan alın.</li>
                        <li>Taze soğanların yeşil kısımlarını kaynar suyun içine atıp 2 dakika bekletin ve soğuk suya aktarın böylece krepleri bağlarken yeşil soğanlar maydanoz sapı kopmayacaktır.</li>
                        <li>Bir kapta lor peyniri maydanozu karışımını krepin tam ortasına koyun ve bohça şeklini verip taze soğanın yeşil kısmı ile bağlayın ve servis edin.</li>
                    </ol>
                </div>
                <div class="col-sm-4 my-3   ">
                    <img src="resimler/frig-dolmasi.jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Biber frigya dolması Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Biber frigya dolması Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>200 gram kıyma </li>
                        <li>4-5 adet dolmalık biber</li>
                        <li>1 yemek kaşığı dolmalık fıstık</li>
                        <li>2 diş sarımsak </li>
                        <li>1 yemek kaşığı zeytinyağı </li>
                        <li>1 tatlı kaşığı domates salçası</li>
                        <li>1 tatlı kaşığı tuz</li>
                        <li>1 tatlı kaşığı pul biber</li>
                        <li>1 çay kaşığı karabiber</li>
                        <li>2 yemek kaşığı un</li>
                        <li>2 yemek kaşığı galeta unu</li>
                        <li>1 yumurta</li>
                    </ul>
                </div>
                <div>
                    <ol>
                       <li>Biberlerin baş kısmı tam koparılmadan çekirdekleri ayıklanır. </li>
                       <li>Biberler kaynar suda 3-4 dakika haşlanır. Haşlanan biberler kenara alınarak dinlendirilir. </li>
                       <li>Zeytinyağında dolmalık fıstıklar kavrulur. Sarımsak içine eklenir. Salça eklenerek kokusu çıkana kadar kavrulur.</li>
                       <li>Kıyma ilave edilerek kavrulur. Baharatlar ilave edilir. Dolmalar harç ile doldurulur. Sıvıyağ kızartılır. </li>
                       <li>Yumurta bir kapta çırpılır. Hazırlanan dolmalar sırayla un, yumurta ve galeta ununa bulanır. Kızgın yağda kızartılır.Sıcakken servis edilir. Afiyet olsun. </li>
                    </ol>
                </div>