 <div class="text-center my-5" style="padding-top: 50px;">
        <h1>Burdur Yöresel Yemeklerin Tarifleri</h1>
    </div>
    
    <div class="container my-5">
        <div class="row">
            <div class="row">
                <div class="col-sm-4 my-3 ">
                    <img src="resimler/murdumek-asi-768x442.jpg"  style="font-size: 12px;width: 450px;height: 380px; ">
                    <h3 class="my-3">Mürdümek Aşı Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Mürdümek Aşı Tarifi İçin Malzemeler</h3>
                    <ul>
                        <li>2 su bardağı mürdümük</li>
                        <li>1 kahve fincanı zeytinyağı</li>
                        <li>1 adet orta boy soğan</li>
                        <li>5 su bardağı su</li>
                        <li>Bir tutam tuz</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Mürdümeği ayıklayın, yıkayıp süzün. </li>
                        <li> Akşamdan ıslatın.Sabah ıslama suyunu süzün. </li>
                        <li>Üzerine 1-2 parmak çıkacak kadar temiz suyla ateşe koyun. </li>
                        <li>Yumuşayana kadar pişirin. Tencereye 2 su bardağı sıcak su ilave edin. Yıkanıp süzülmüş bulguru ve tuzunu katın. Kapağını örtüp kısık ateşte pişmeye bırakın.</li>
                        <li>Ayrı bir tavada tereyağını kızdırıp yemeğin üzerine gezdirin. Sıcak olarak servis yapın.</li>
                    </ol>
                </div>
                <div class="col-sm-4 my-3 ">
                    <img src="resimler/arabasi-corbasi.png"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Arabaşı Çorbası Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Arabaşı Çorbası Tarifi İçin Malzemeler</h3>
                    <h4>Çorbası için:</h4>
                    <ul> 
                        <li>Tavuğun herhangi bir parçası (ben kalçalı butla yaptım)</li>
                        <li>1 yemek kaşığı salça</li>
                        <li>Pul biber</li>
                        <li>1,5 yemek kaşığı tereyağı</li>
                        <li>2 kaşık un</li>
                        <li>6 su bardağı tavuk suyu veya sıcak su</li>
                    </ul>
                    <h4>Hamuru için:</h4>
                    <ul>
                        <li>1 litre su</li>
                        <li>10 yemek kaşığı un</li>
                        <li>Tuz</li>
                    </ul>
                </div>
                <div>
                    <ol>
                       <li>Önce hamurumuzu yapalım 3-4 saat beklemesi gerekmekte.3 su bardağı  suyu kaynamaya bırakalım. Kalan 3 bardak su ile unumuzu çözdürelim (yani una su ekleyerek karıştıralım).</li>
                       <li>Kaynayan suya devamlı karıştırarak yavaş yavaş unu ilave edelim.Unun markasına göre değişiyor bazı unlar çok güzel tutuyor bazı unlarda sıkıntı olabiliyor. Kıvamını ayarlarken karıştırdığımız kaşığın zor çevriliyor olması lazım.</li>
                       <li>Eğer ununuz az geldiyse ocağın altını iyice kısıp pratik hareketlerle birkaç kaşık unu suda çözdürüp ilave edebilirsiniz.</li>
                       <li>Önceden yaptığımda hemen kıvamı tutmuştu ama bu kullandığım unda birkaç kere işlem yapmam gerekti. Ben 20 kaşık un kullandım siz dediğim şekilde ayarlayın.</li>
                       <li>Karıştırırken zorlanmaya başlayınca un yeterlidir. Devamlı karıştırarak kaynatın.Tepsiyi ıslatın ve hamurumuzu tepsiye yayıp soğuk bir zeminde 3-4 saat bekletin.</li>
                       <li>Çorba tarifini de anlatacak olursak tavuğu haşlıyoruz.Suyunu fazla koyalım haşlarken çünkü haşladığımız o suyu çorbamızda kullanacağız.</li>
                       <li>Haşladığımız tavuk etini didikleyelim.Ayrı bir tencerede tereyağında unu kavuruyoruz.Ayrı bir tencerede tereyağında unu kavuruyoruz.</li>
                       <li>Unun kokusu çıktıktan sonra salçayı ve pul biberi ekliyoruz ve karıştırıyoruz.</li>
                       <li>Daha sonra tavuk suyumuzu yavaş yavaş ekliyoruz. Devamlı karıştırıyoruz ki topaklanmasın. Eğer topaklanırsa tavuk etini eklemeden önce blenderden geçirebilirsiniz.</li>
                       <li>Çorbamız kaynadıktan sonra didiklediğimiz tavuk etlerini ekliyoruz ve pişmeye bırakıyoruz.
                    </li>
                    </ol>
                </div>
                <div class="col-sm-4    ">
                    <img src="resimler/testi-kebabi-scaled.jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Testi Kebabı Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Testi Kebabı Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>1.5 kg orta yağlı koyun eti</li>
                        <li>2 yemek kaşığı ayçiçeği yağı</li>
                        <li>1 kg arpacık soğan</li>
                        <li>Yarım yemek kaşığı domates salçası</li>
                        <li>2 büyük domates</li>
                        <li>Sivri biber</li>
                        <li>Defne yaprağı</li>
                        <li>Tuz</li>
                        <li>kimyon</li>
                        <li>karabiber</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>İri parçalar şeklinde kesilmiş eti yıkayıp süzün. Eti büyük bir kabın içine alın. Arpacık soğanların kabuğunu soyup ete ekleyin.</li>
                        <li>Domatesleri, biberleri iri parçalar şekline doğrayıp malzemeye ekleyin. Salça, tuz, kimyon, karabiber ve ayçiçeği yağını ilave edip karıştırın.</li>
                        <li>Hazırladığınız harcı toprak testiye doldurun. Testinin ağız kısmını hazırladığınız bir hamurla sıkıca kapatın. Sıcak fırında 1.5 saat pişirin.</li>
                        <li>Fırından alıp 20 dakika dinlendirin. Hamuru çıkarıp kebabı servis tabaklarına paylaştırın. Sıcak servis yapın.</li>
                    </ol>
                </div>
                <div class="col-sm-4    ">
                    <img src="resimler/burdur-sis-768x576.jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Burdur Şiş Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Burdur Şiş Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>Kıyma</li>
                        <li>Yanında domates</li>
                        <li>Yeşil biber</li>
                        <li>Soğan</li>
                        <li>Maydanoz</li>
                        <li>Yeterince tuz</li>
                        <li>Karabiber</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Dana etinin kaburga aralarından alınan eti iki defa çektirerek kıyma haline getirtiyoruz. Kıymaya tuz eklenerek yoğuruyoruz. Yeterince yoğurduktan sonra 30 dakika dinlendiriyoruz.</li>
                        <li> Su ile ıslatılarak ele yapışmaması sağlanan şişlik malzemeden ceviz büyüklüğünde alarak, avuçta pişirmek için yapılmış şişlere dolayarak şekillendiriyoruz.</li>
                        <li>Şişler üzerine dolanmış olan malzeme ile hazırlanmış şişleri ateşleyerek orta harlıkta olan közler üzerine pişirmek üzere sıralıyoruz.</li>
                        <li>Şiş köftelerinin iki tarafı pişirilince zaman zaman pide parçaları arasında bastırarak şiş köftenin yağı ve suyunun pideleri yağlaması sağlıyoruz. </li>
                        <li> Diğer yanda pidelerin de pişmekte olan şişlerin üzerine koyarak altta yanan ateşten ısınmasını sağlıyoruz. Şiş köfteleri orta vaziyette pişirdikten sonra ısınan iki pide arasına koyup, pidenin üzerinden hafif bastırarak şişleri yana doğru çekerek çıkarıyoruz.</li>
                        <li>Ayrıca domatesi doğrayarak dizdikten sonra yanına pişirilmiş biber, soğan da koyarak servis ediyoruz.</li>
                    </ol>
                </div>