<div class="text-center my-5" style="padding-top: 50px;">
        <h1>Hatay Yöresel Yemeklerin Tarifleri</h1>
    </div>
    
    <div class="container my-5">
        <div class="row">
            <div class="row">
                <div class="col-sm-4   my-3 ">
                    <img src="resimler/tepsikebabı.jpg"  style="font-size: 12px;width: 450px;height: 380px; ">
                    <h3 class="my-3">Tepsi Kebabı Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Tepsi KebabıTarifi İçin Malzemeler</h3>
                    <ul> 
                        <il>Yarım kg orta yağlı kıyma (Kıymayı birkaç kez kıyma makinesinde çektirirseniz daha lezzetli olur)</il>
                        <il>1 tane kuru soğan</il>
                        <il>1 tane yeşil biber</il>
                        <il>¾ demet maydanoz</il>
                        <il>1 diş sarımsak</il>
                        <il>1 çay kaşığı karabiber</il>
                        <il>1 çay kaşığı kekik</il>
                    </ul>
                </div>
                <div>
                    <ol>
                        <il>Soğan, maydanoz ve yeşil biberi robotta çekin. Eğer robotunuz yoksa bunları çok ince olacak şekilde doğrayın.Kıymayı derin bir kaba alın. Üzerine robottan geçirdiğiniz malzemeleri ve baharatları ekleyin.</il>
                        <il>Harcı iyice yoğurun. Kebabın şekli bozuk olsun istemiyorsanız, yoğurma işlemine dikkat edin.Hazırlanan karışımı orta boy yuvarlak bir fırın tepsisine yayın. Hiç boşluk kalmayacak şekilde tepsinin her tarafını kapatın.</il>
                        <il>Üzerini süslemek için, domatesi dörde bölüp kıymanın üzerine dağıtın.Biberlerin saplarını alıp ortan 2’ye bölüp domateslerin aralarına sıralayın.Soğanı da soyup 4 parçaya ayırarak aynı şekilde sıralayın.</il>
                        <il>Salçayı sıvı yağ ile karıştırarak, tepsinin her tarafına gezdirin.Önceden ısıtılmış fırında, 200 derecede pişirin. 40 dakika gibi bir sürede tepsi kebabı hazır olacaktır.</il>
                        <il>Tepsi kebabını, pirinç pilavı ve patlıcan turşusu ile birlikte servis edebilirsiniz. Afiyet olsun.</il>
                    </ol>
                </div>
                <div class="col-sm-4   my-3 ">
                    <img src="resimler/indir (4).jpg " style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Belen Tava Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Belen Tava Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>400 gram kuzu eti</li>
                        <li>1 adet soğan (doğranmış)</li>
                        <li>1 adet kapya biber</li>
                        <li>1 adet yeşil biber</li>
                        <li>100 gram tereyağı (eritilmiş)</li>
                        <li>4 diş sarımsak</li>
                        <li>1 adet doğranmış domates</li>
                        <li>1 çay kaşığı pul biber, kekik ve tuz</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Öncelikle biber, soğan, domates gibi tarifteki tüm sebzeleri doğrayın ve bir kabın içerisinde karıştırın.Doğradığınız sebzeleri döküm tavanın tabanına yayın.</li>
                        <li>İri bir halde doğranmış kuzu etini sebzelerin üzerine ekleyin. Sebzeler görünmeyecek şekilde yerleştirin.Bir tavada tereyağını eritin. Eriyen yağı etin üzerinde gezdirin.</li>
                        <li>Önceden ısıtılmış 200 dereceli fırında yaklaşık 40-45 dakika pişirin.Hazırladığınız belen tavayı, pirinç pilavı ile birlikte servis edebilirsiniz. Afiyet olsun.</li>
                    </ol>
                </div>
                <div class="col-sm-4   my-3 ">
                    <img src="resimler/indir (5).jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Şeyh Mualla Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Şeyh Mualla Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>1 kg bostan patlıcanı</li>
                        <li>2 adet kuru soğan</li>
                        <li>2 adet büyük boy domates</li>
                        <li>2 adet yeşil biber,kırmızı biber</li>
                        <li>1 baş sarımsak</li>
                        <li>10 g kuru nane</li>
                        <li>10 g domates salçası</li>
                        <li>20 g nar ekşisi</li>
                        <li>100 ml zeytinyağı</li>
                        <li>10 g tuz</li>
                    </ul>
                </div>
                <div>
                    <ol>
                       <li>Patlıcanları çizgili soyun ve iri iri uzunlamasına dilimleyerek yaklaşık 20 dakika suda beklettikten sonra suyunu sıkın.</li>
                       <li>Diğer tüm sebzeleri irice doğrayın ve patlıcan hariç tüm malzeme ile birlikte harmanlayın.</li>
                       <li>Bir tencereye önce bir sıra patlıcan dizin ve üzerine sebzeli harçtan dökerek yayın. Daha sonra tekrar patlıcan dilimlerini dizin ve kalan harcı üzerine yayarak yağını ilave edin. Çok kısık ateşte su ilave etmeden yavaş yavaş pişirin.</li>
                    </ol>
                </div>
                <div class="col-sm-4   my-3 ">
                    <img src="resimler/Firik Pilavı.jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Firik Pilavı Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Firik Pilavı Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>1 çay bardağı nohut</li>
                        <li>2 su bardağı firik</li>
                        <li>1 su bardağı bulgur</li>
                        <li>1 soğan</li>
                        <li>3 yemek kaşığı zeytinyağı</li>
                        <li>1 yemek kaşığı biber salçası</li>
                        <li>6 su bardağı su</li>
                        <li>Tuz</li>
                        <li>Kırmızı pulbiber</li>
                        <li>Karabiber</li>
                    </ul>
                </div>
                <div>
                    <ol>
                       <li>Nohutu bir gece önceden ıslatın. Ertesi gün üzerini geçecek kadar suyla yumuşayana kadar haşlayın.Ayıklanmış firik ve bulguru kuruyken birbirleriyle iyice karıştırın.</li>
                       <li>Soğanı yemeklik doğrayıp yağda şeffaflaşıncaya kadar kavurun. Biber salçasını ilave edip, soğanla iyice karışmasını sağlayın. Üzerine 6 bardak sıcak su, tuz ve kırmızı pul biber ekleyin.</li>
                       <li>Firik ve bulgur karışımını ilave edip karıştırın. Yüksek ateşte kaynatın. Daha sonra kısık ateşe alarak pilav suyunu çekinceye kadar pişirin.</li>
                       <li>Firik pilavını, patlıcan musakka ve fava ile birlikte servis edebilirsiniz. Afiyet olsun.</li>
                    </ol>
                </div>