<div class="text-center my-5" style="padding-top: 50px;">
        <h1>Kahramanmaraş Yöresel Yemeklerin Tarifleri</h1>
    </div>
    
    <div class="container my-5">
        <div class="row col-sm-10">
            <div class="row">
                <div class="col-sm-4  my-3">
                    <img src="resimler/kindir (4).jpg"  style="font-size: 12px;width: 450px;height: 380px; ">
                    <h3 class="my-3">Yoğurtlu Dövme Çorbası Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Yoğurtlu Dövme Çorbası Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>1-2 yemek kaşığı ayçiçek yağı</li>
                        <li>1 su bardağı nohut (haşlanmış)</li>
                        <li>1 su bardağı dövme (aşurelik buğday)</li>
                        <li>5-6 su bardağı et suyu yada su</li>
                        <li>Tuz/ Karabiber</li>
                    </ul>
                    <h4>Terbiyesi için</h4>
                    <ul>
                        <li>1 adet yumurta</li>
                        <li>2 su bardağı süzme yoğurt</li>
                        <li>3 tepeleme yemek kaşığı un</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Yağı tencereye koyduktan sonra haşlanmış nohutu ekleyin ve iki dakika çevirin. 5-6 su bardağı su ekleyin. Kapağını kapatıp kaynatın.</li>
                        <li>Kaynayan karışımı ocaktan alın.Çorbanın terbiyesini hazırlayın. Yumurta, yoğurt ve ve unu başka bir kapta birbirine yedirin. Bir kepçe yardımı ile ısıtılan çorbadan terbiyenin içine yavaş yavaş karıştırarak ekleyin.</li>
                        <li>Daha sonra karışımı tencerenin içine ekleyip ocağa alın. Çırpma teliyle karıştırın ve kapağını yarım kapatın. 10- 15 dakika daha pişirin. Çorbanın kıvamına baktıktan sonra çok yoğunsa bir bardak daha su ekleyin.</li>
                        <li>Tuzunu ve karabiberini ekleyin. Daha sonra pul biberle tereyağını yakın ve çorbanız hazır.</li>
                    </ol>
                </div>
                <div class="col-sm-4  my-3">
                    <img src="resimler/kindir (5).jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Ciğerli Bulgur Pilavı Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Ciğerli Bulgur Pilavı Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>2 su bardağı pilavlık bulgur</li>
                        <li>250 gr dana ciğeri</li>
                        <li>2 su bardağı su</li>
                        <li>1 soğan</li>
                        <li>3-4 çorba kaşığı sıvıyağ</li>
                        <li>Tuz</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Ciğeri nohuttan küçük küpler şeklinde doğrayın. İyice yıkayıp kâğıt havlu ile suyunu alın. Soğanın kabuklarını soyup küp şeklinde doğrayın.</li>
                        <li>Sıvıyağı tencereye alıp kızdırın. Soğanı ilave edip kavurun. Ciğeri ekleyip kavurmaya devam edin ve delikli kepçe ile alıp servis tabağına çıkarın.</li>
                        <li>Bir tencerede 2 bardak suyu kaynatın. Tuz serpip karıştırın. Yıkanmış ve suyu süzülmüş bulguru ilave edin. Kısık ateşte kapağı kapalı olarak pilavı pişirin.</li>
                        <li>Bir tencerede 2 bardak suyu kaynatın. Tuz serpip karıştırın. Yıkanmış ve suyu süzülmüş bulguru ilave edin. Kısık ateşte kapağı kapalı olarak pilavı pişirin.</li>
                    </ol>
                </div>
                <div class="col-sm-4  my-3">
                    <img src="resimler/acempilavı.jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Acem Pilavı Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Acem Pilavı Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>1 su bardağı Jasmine pirinç</li>
                        <li>30 gr tereyağı</li>
                        <li>2.5 su bardağı su</li>
                        <li>200 gr kuşbaşı dana eti</li>
                        <li>2.5 su bardağı su</li>
                        <li>2 havuç</li>
                        <li>Yarım çay bardağı kuş üzümü</li>
                        <li>Yarım çay bardağı dolmalık fıstık</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Bu özel pilavı yemek tarifleri listenize eklemeyi unutmayın.</li>
                        <li>Pirinci bol suyla yıkayın. Ilık tuzlu suda 20 dakika bekletip suyunu süzün.</li>
                        <li>Tereyağını tencerede eritin. Etleri ilave edip hafifçe kavurun.1 su bardağı suyu ekleyip kısık ateşte etleri iyice pişirin.</li>
                        <li>Pirinci 2 su bardağı suyla birlikte etlere ekleyin. Jülyen doğranmış havuç, fıstık ve üzümü ilave edin.</li>
                        <li>Baharat ve tuzu ekleyin. Tencerenin kapağını kapatıp kısık ateşte pirinçler yumuşayana kadar pişirin. 20 dakika demlendirin. Sıcak servis yapın.</li>
                    </ol>
                </div>
                <div class="col-sm-4  my-3">
                    <img src="resimler/kaliliköfte.jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Kalili Köfte Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Kalili Köfte Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>2 su bardağı ince bulgur</li>
                        <li>100 gr kıyma (2 kere çekilmiş dana koyun eti karışık)</li>
                        <li>100 gr koyun kıyması</li>
                        <li>1 çorba kaşığı kırmızı pul biber</li>
                        <li>1-2 diş sarımsak</li>
                        <li>Yarım çorba kaşığı domates salçası</li>
                        <li>Yarım çorba kaşığı biber salçası</li>
                        <li>1 yumurta</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Soğanları soyup kıyın. Sarımsakları soyup ezin. Bulguru geniş bir tepsiye alın. Salça, tuz, sarımsak, pul biber ve soğanın yarısını ilave edip yoğurun.2 kere çekilmiş kıymayı azar azar bulgura yedirerek yoğurun. Yumurta ve nişastayı ekleyip tekrar yoğurun. </li>
                        <li>Karanfilleri havanda dövün. Tavada sıvıyağı kızdırıp kalan soğanı kavurun. Koyun kıymasını ekleyip kavurmaya devam edin.Ceviz içini iri parçalara ayırıp ilave edin. Tuz, karanfil ve tarçını ekleyip karıştırın. Tavayı ocaktan alın. </li>
                        <li>Bulgurlu malzemeden ceviz büyüklüğünde parçalar koparıp yuvarlayın. Parmağınızla bir delik açıp çevirerek yüzeyini inceltin.</li>
                        <li>Ortalarına birer kaşık iç malzeme yerleştirin. Elinizi ıslatarak köfteleri kapatın. Malzeme bitinceye kadar işlemi sürdürün.</li>
                        <li>Tarhanayı 15 dakika ıslatıp tencereye alın. 2 bardak su ve tuz ilave ederek 10 dakika kaynatın. Köfteleri ekleyip 15 dakika pişirin. Servis tabağına alıp sıcak olarak servis yapın. Afiyet olsun.
                        </li>
                    </ol>                        
                </div>