<div class="container m-5" style="padding-top: 100px;">
      <div class="row">
        <div
          class="col-md-7 mx-auto"
          style="background-color: rgb(235, 177, 106)"
        >
          <h2 class="display-4 text-center">KULLANICI KAYIT</h2>
          <form action="/users/register" method="POST" enctype="multipart/form-data">
            <fieldset class="p-4 text-center">
              <div class="row mb-3">
                <label for="kullaniniadi" class="col-md-3 col-form-label-lg"
                  >Kullanici Adi</label
                >
                <div class="col-md-4">
                  <input
                    name  ="username"
                    type="text"
                    placeholder="Kullanıcı Adini giriniz"
                    class="form-control"
                    required
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="sifre" class="col-md-3 col-form-label-lg"
                  >Sifre</label
                >
                <div class="col-md-4">
                  <input
                    name="password"
                    type="password"
                    placeholder="Sifre giriniz"
                    class="form-control"
                    required
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="e-mail" class="col-md-3 col-form-label-lg"
                  >E-mail</label
                >
                <div class="col-md-4">
                  <input
                    name="email"
                    type="email"
                    placeholder="E-mail giriniz"
                    class="form-control"
                    required
                  />
                </div>
              </div>
              <button type="submit" class="btn btn-info">Kaydol</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>