 <div class="text-center my-5" style="padding-top: 50px;">
        <h1>Mersin Yöresel Yemeklerin Tarifleri</h1>
    </div>
    
    <div class="container my-5">
        <div class="row ">
            <div class="row">
                <div class="col-sm-4 my-3 ">
                    <img src="resimler/indir.jpg"  style="font-size: 12px;width: 450px;height: 380px; ">
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Yüksük Çorbası Tarifi İçin Malzemeler</h3>
                    <h4>Hamur İçin</h4>
                    <ul> 
                        <li>1 yumurta</li>
                        <li>1 çorba kaşığı İrmik(1/2 (yarım) su bardağı su ile ıslatılacak)</li>
                        <li>400-450 gr un</li>
                        <li>1/2 (yarım) su bardağı su</li>
                        <li>Tuz</li>
                    </ul>
                    <h4>İç Malzeme</h4>
                    <ul>
                        <li>200-250 g kıyma</li>
                        <li>1 orta boy soğan</li>
                        <li>Tuz</li>
                        <li>Karabiber</li>
                    </ul>
                    <h4>Çorba İçin</h4>
                    <ul>
                        <li>250 g Hamur(1 bezeden elde edilmiş)</li>
                        <li>1,5 litre su</li>
                        <li>1 kaşık biber salçası</li>
                        <li>1,5 Çorba kaşığı tereyağı</li>
                        <li>2 çorba kaşığı kuru nane</li>
                        <li>1 su bardağı haşlanmış Nohut</li>
                        <li>3 Çorba kaşığı limon suyu</li>
                        <li>Tuz</li>
                    </ul>
                </div>
                <div>
                    <h3 class="my-3">Yüksük Çorbası Tarifi Nasıl Yapılır?</h3>
                    <ol>
                        <li>Önce iç malzememizi hazırlayalım. Kıyma, rendelenmiş soğan, tuz, karabiber ile suyunu tam çekmiş kavrulmuş kıyma hazırlayıp, buzdolabında tam soğutalım.</li>
                        <li>Hamur için,ıslanmış irmik,yumurta, tuzumuza, unumuzu ve suyumuzu azar azar ekleyerek biraz sertçe hamur elde edelim.</li>
                        <li>Hamurumuzu 30 dk üstü ıslak bezle örtüp bekletelim.</li>
                        <li>Hamuru 4 eşit beze haline getirin,her bezeyi 2 mm inceliğe ulaşıncaya kadar unla açın.</li>
                        <li>Kesme işlemi için,yuvarlak hamurunuzun unlayarak,yarım ay şekline getirin, tekrar unlayarak yarım ay şeklinin bombeli kısmını, düz kısmının üzerine getirerek dik dörtgen şekline getirin.</li>
                        <li>1 cm e eninde kesin.Kesilen parçaları açtığınızda uzun şeritler elde edeceksiniz. Bu şeritleri 4-5 tanesini üst üstü koyup,tekrar keserek 1cm lik kareleri elde edin.Soğumuş içinizden parmak ucunuzla alarak hamurunuzun ortası koyun, 4 köşesinin hepsini birden birbiriyle yapıştırarak kapatın.</li>
                        <li>Kapanmış hamurlarınızı unlanmış tepside 1 saat kadar oda sıcaklığında kurutun.Bu aşamadan sonra 1 bezeden elde ettiğimiz hamur için çorba ölçüsünü vereceğim.Tüm bezeleri açıp,hamurlarınızı mantı haline getirdiğinizde ya fırınlayarak yada fırınlamadan derin dondurucuda saklayabilirsiniz.</li>
                    </ol>
                </div>
                <div class="col-sm-4 my-3">
                    <img src="resimler/indir (1).jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Topalak Çorbası Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Topalak Çorbası Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>Tanesi için 2 su bardağı köftelik bulgur</li>
                        <li>Yarım su bardağı irmik</li>
                        <li>Yarım çay  bardağı un</li>
                        <li>Yarım yemek kaşığı salça</li>
                        <li>Tuz</li>
                        <li>Pul biber</li>
                        <li>Kimyon</li>
                        <li>Suyu için haşlanmış et, et suyu ve nohut</li>
                    </ul>
                </div>
                <div>
                    <ol>
                       <li>İlk olarak kemik ve nohut haşlanır soğumaya bırakılır.Ardından çorbamızın tanesi için bulgur ve irmik karıştırılır, sıcak suyla hafif ıslatılır (tıpkı kısır gibi)</li>
                       <li>Ardından salça ve baharatlarla karıştırılıp unumuz azar azar eklenerek kıvam verilir ve nohuttan biraz büyük şekilde yuvarlanır.</li>
                       <li>Derin bir tencerenin dibinde yeteri kadar yağ (yarım çay bardağından az) ve biraz salça (bir yemek kaşığı kadar) ile kavrulur.</li>
                       <li>Kuru nane de ilave edilip yaklaşık iki litre kadar su koyulur (1 litresi et suyu + 1 litresi normal su)kaynamaya bırakılır.</li>
                       <li>Kaynayınca tanesi ve nohut atılır, özleşmeye bırakılır.Yaklaşık 20-25 dk. kadar kaynatılıp limon suyu eklenip sıcak servis edilir .Afiyet olsun..</li>
                    </ol>
                </div>
                <div class="col-sm-4 my-3    ">
                    <img src="resimler/indir (2).jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Ev Yapımı Tantuni Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-5" style="padding-left: 150px;">
                    <h3>Ev Yapımı Tantuni Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>1 kg. Kuşbaşılık yağsız dana eti</li>
                        <li>Sıvıyağ</li>
                        <li>Kırmızı toz biber</li>
                        <li>Lavaş yada ekmek</li>
                        <li>2 adet domates</li>
                        <li>1 adet kuru soğan</li>
                    </ul>
                </div>
                <div>
                    <ol>
                      <li>Öncelikle etleri minicik minicik doğruyoruz ve düdüklü tencereye alıyoruz.Öncelikle etleri minicik minicik doğruyoruz ve düdüklü tencereye alıyoruz.Düğmesini indirdikten sonra yarım saat pişiriyoruz.</li>
                      <li>Pişen etlerimizi süzüyoruz sac veya orta boy bir tepsiye alıyoruz.Etleri tepsinin kenarlarına doğru ittirip ortayı boş bırakıyoruz ve ocağa alıyoruz.</li>
                      <li>Orta boşluğa 3-4 kaşık sıvı yağ ekliyoruz. Biraz ısınınca kırmızı toz biber koyuyoruz. Yanımızda mutlaka kapağı delinmiş pet su şişesi bulunduruyoruz.Orta boşluğa 3-4 kaşık sıvı yağ ekliyoruz. Biraz ısınınca kırmızı toz biber koyuyoruz. Yanımızda mutlaka kapağı delinmiş pet su şişesi bulunduruyoruz.</li>
                      <li>Kavurduğumuz etlerin üzerine ekmeği veya lavaşı bastırıp yumuşatıyoruz.</li>
                      <li>Daha sonra etleri ekmeğin içine koyuyoruz. İncecik doğranan tuzla ovulup acısı alınan soğan ve maydanozu da ilave ediyoruz. Küp doğranmış domatesleri de soğanların üzerine koyuyoruz. İşte hepsi bu.</li>
                      <li></li>
                    </ol>
                </div>
                <div class="col-sm-4 my-3    ">
                    <img src="resimler/indir (3).jpg"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Humus Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Humus Tarifi İçin Malzemeler</h3>
                    <ul>
                        <li>500 gram koçbaşı nohut (Haşlanmış, kabukları alınmış hali ile yaklaşık 2-3 su bardağı)</li>
                        <li>1,5 çay bardağı ılık su</li>
                    </ul>
                    <h4>Humus için</h4>
                    <ul>
                        <li>1 çay bardağı ılık su</li>
                        <li>1/2 (yarım) çay bardağı tahin</li>
                        <li>1 çay kaşığı kimyon</li>
                        <li>4 çorba kaşığı limon suyu</li>
                        <li>3-4 diş sarımsak (ezilmiş)</li>
                        <li>Tuz</li>
                    </ul>
                </div>
                <div>
                    <ol>
                       <li>Nohutlarınızı bir gece önceden ıslatın, düdüklü tencereye alın.Bir taşım kaynatın, çıkan köpüklü suyu dökün.Tekrar sıcak su ekleyip düdüklü tencerenizde tam pişirin(hafif çatlasın ve kabukları kolay çıkabilecek hal alsın. Yaklaşık 15-20 dakika)</li>
                       <li>Nohutların kabuklarını temizleyin, ölçüdeki nohudu elde edin..Kabuksuz nohutları,1,5 çay bardağı su ile orta derinlikte bir tencereye alın</li>
                       <li>Tekrar ocağa koyun, tahta kaşıkla ezerek suyunu hafifçe çektirin. Ilınmış nohudunuzu el püre yapıcınızdan geçirerek pürüzsüz hal almasını sağlayın.</li>
                       <li>Nohut katı bir hal alacak. (Bu aşamada derin dondurucuda saklayabilirsiniz)2. kez kısık ateşe aldığınız nohuta 1 çay bardağı ılık su ekleyin.</li>
                       <li>Yumuşatın, sürekli karıştırarak açılmasını sağlayın(1 dakika). Ateşten aldığınız sıcak nohuta tahin, limon suyu, ezilmiş sarımsak, tuz ve kimyonu ekleyin. Çok iyi karıştırın.</li>
                       <li>Servis tabağınıza aldığınız ve yaydığınız humusu kimyon, kırmızı pul biber, sumak, kıyılmış maydanoz ile süsleyin.</li>
                       <li>Üzerine incecik zeytinyağı gezdirin.Humus mezesini ılık servis yapın.</li>
                    </ol>
                </div>