<div class="text-center my-5" style="padding-top: 50px;">
        <h1>Osmaniye Yöresel Yemeklerin Tarifleri</h1>
    </div>
    
    <div class="container my-5">
        <div class="row col-sm-10">
            <div class="row">
                <div class="col-sm-4    ">
                    <img src="resimler/kaburga-dolmasi-3514-5e.jpg"   style="font-size: 12px;width: 450px;height: 380px; ">
                    <h3 class="my-3">Kaburga Dolması Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Kaburga Dolması Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>2.5 kg kaburga (koyun eti~sağ göğüs kısmı)</li>
                        <li>150 gr tereyağı</li>
                        <li>150 gr kabuğu soyulmuş badem içi</li>
                        <li>300 gr kıyma</li>
                        <li>2 soğan</li>
                        <li>2 diş sarımsak </li>
                        <li>750 gr pirinç</li>
                        <li>2 yemek kaşığı domates salçası</li>
                        <li>1 demet maydanoz</li>
                        <li>2 su bardağı sıcak su</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Pirinci bol suyla yıkayıp suyunu süzün. Kaburganın yağlı kısmından cep şeklinde kesin. Tereyağını tencereye alıp eritin.</li>
                        <li>Badem ve kıymayı ekleyip kavurun. İnce yemeklik doğranmış soğan ve ezilmiş sarımsağı ilave ederek kavurmaya devam edin. Tencereye alıp birkaç dakika kavurun.</li>
                        <li>Kıyılmış maydanoz, baharat ve tuz ekleyip karıştırın. Sıcak su ekleyip kısık ateşte pirinçler hafifçe yumuşayana kadar pişirin.</li>
                        <li>Hazırladığınız pilavı kaburgaya açtığınız cebe doldurun. Etin ağız kısmını iplikle dikin. Kaburganın her yerine salça sürüp yağda kızartın.</li>
                        <li>Sıcak fırında üzeri kapalı olacak şekilde 180 derecede 2 saat boyunca pişirin. Sıcak servis yapın. Afiyet olsun.</li>
                    </ol>
                </div>
                <div class="col-sm-4    ">
                    <img src="resimler/sogurme-3514-7a.jpg"   style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Söğürme Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Söğürme Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>2 bostan patlıcanı</li>
                        <li>2 domates</li>
                        <li>1 soğan</li>
                        <li>1 salçalık kırmızıbiber</li>
                        <li>2 sivri biber</li>
                        <li>Yarım çay bardağı zeytinyağı</li>
                        <li>2 kesme şeker</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Patlıcanları yıkayıp kurulayın. Közleyip kabuğunu soyun. İçini parmak kalınlığında doğrayın. </li>
                        <li>Soğanı küp şeklinde doğrayıp zeytinyağında hafifçe kavurun. Küp doğranmış domatesi ekleyip kavurmaya devam edin. </li>
                        <li>Çekirdekleri çıkarılmış ve ince uzun parçalar şeklinde doğranmış kırmızıbiberi ekleyip Birkaç dakika kavurduktan sonra patlıcan, tuz ve şekeri ilave edin. Sarımsakları kıyıp ekleyin.</li>
                        <li>1 çay bardağı suyu ilave edip pişirin. Suyu tamamen azalınca üzerine kıyılmış maydanoz serpip servis yapın.</li>
                    </ol>
                </div>
                <div class="col-sm-4    ">
                    <img src="resimler/yer-fistikli-pilav-3514-b8.jpg"   style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Yer Fıstıklı Pilav Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Yer Fıstıklı Pilav Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>2 su bardağı pirinç</li>
                        <li>1 su bardağı yer fıstığı</li>
                        <li>Sıvı yağ</li>
                        <li>1 kaşık tuz</li>
                        <li>1 tatlı kaşığı şeker</li>
                        <li>1 tablet tavuk suyu</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Pirinçleri bir kap içine alıp üzerine ılık su,tuz ilave edip karıştırıp yarım saat bekletiyoruz.Bu sürenin sonunda pirinçlerimizi 3-4 tur yıkıyoruz.Tel süzgeç yardımıyla süzdürüyoruz.Pilav tenceresinin içine sıvı yağ koyup pirinçlerimizi ilave ediyoruz.</li>
                        <li>Orta ateşte pirinçlerimizi kavuruyoruz.Fıstıklarımıza tuz ve şekeri ilave ediyoruz.2-3 dakika kavuruyoruz.Daha sonra et suyu nu veya tavuk suyunu ekleyip tencerenin kapağını sıkıca kapatıyoruz.</li>
                        <li>Kısık ateşle 10-15 dakika pişiriyoruz.Bu sürenin sonunda pilavımızı ocaktan alıp demlendiriyoruz.Demlenen pilavımızı tahta kaşık yardımıyla kek kalıbının içine doldurup daha sonra bir servis tabağının içine ters çevrilir.Tabağı isteğinize göre süsleyip servise hazırlarız.Afiyet olsun.</li>
                    </ol>
                </div>
                <div class="col-sm-4    ">
                    <img src="resimler/togga-corbasi-3514-48.jpg"   style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Toğga ÇorbasıTarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Toğga Çorbası Tarifi İçin Malzemeler</h3>
                    <ul> 
                       <li>1 kilogram yoğurt</li>
                       <li>1 su bardağı dövme</li>
                       <li>1 çay bardağı nohut</li>
                       <li>500 gram ıspanak</li>
                       <li>1 demet nane</li>
                       <li>1 adet yumurta</li>
                       <li>1 yemek kaşığı un</li>
                       <li>1 su bardağı kaynamış su</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Nohudu 8-10 saat önceden ılık suya koyup bekletin.Dövme ve nohudu güzelce haşlayın.Bu esnada nane ve ıspanakları doğrayıp kenara alın.</li>
                        <li>Yoğurt, yumurta ve unu iyice çırpın.Bir başka tencereye aktarıp kesilmemesi için hızla karıştırarak kaynatın.</li>
                        <li>Kaynayan yoğurda nohut ve dövmeyi de ekleyip 10 dakika daha pişirin.Çorbaya önce nane yapraklarını, naneler hafif sarardıktan sonra da ıspanakları ilave edin.</li>
                        <li>Son olarak çorbayı ateşten almadan önce 2 su bardağı kaynamış suyu ve tuzu da ekleyin.Bir taşım daha kaynattığınız çorbayı sıcak servis edin. Afiyet olsun…</li>
                    </ol>
                </div>