<div class="text-center my-5 " style="padding-top: 50px;" >
        <h1> AKDENİZ YEMEKLERİ</h1> 
            <img class="img"  src="resimler/akdeniz-bolgesi-siyasi-harita.png" alt="akdeniz-bolgesi-siyasi-harita" style="width: 700px;  ">  
            <p  class="container" style="font-size: 20px;padding-left: 200px; ">Türkiye’nin en çok turist çeken bölgelerinden biri olan Akdeniz bölgesi sadece gezilecek görülecek yerleriyle değil, lezzetleriyle de ünlü. Yöresel lezzetlere düşkün olanlar için Akdeniz bölgesinin en güzel yemeklerini listeledik.</p>
    </div>
    <div class="container my-5 row">
        <div class="row ">
            <div class="row">
                <div class="col-sm-4  my-3">
                    <img src="resimler/hataykebap-34451.webp" alt="hataykebap"  style="font-size: 12px;width: 400px;height: 350px; margin-bottom: 15px; margin-bottom: 15px;">
                </div>
                <div class="col-sm-4 my-5" style="padding-left: 120px;">
                    <h2>Hatay kebabı</h2>
                    <p style="font-size: 20px;" >Hatay kebabı ya da diğer ismiyle tepsi kebabı, kıymayla yapılan bir kebap türü. Kıyma ve baharat karışımı tepsiye bastırılarak yerleştirilir ve kenarları ile üzerine domates biber konur. Fırına verilerek pişirilir. Hatay’da bu kebaplar odun fırınlarında pişirilir. Yemeğe en büyük lezzeti de odun fırının aroması katar. </p>
                </div>  
            </div>

            <div class="row">
                <div class="col-sm-4 my-3">
                    <img src="resimler/humus-34452.webp" alt="humus"  style="font-size: 12px;width: 400px;height: 350px; margin-bottom: 15px;" >
                </div>
                <div class="col-sm-4 my-5"  style="padding-left: 120px;">
                    <h2>Humus</h2>               
                    <p style="font-size: 20px;">Humus, Türkiye’den Lübnan’a kadar uzanan Doğu Akdeniz çanağının önemli bir yemeği. Nohut ve tahinle yapılır. Üzerine dileyen pastırma da katılabilir ancak Akdeniz bölgesinde üzerine yağda kızartılmış çam fıstığı konur. </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 my-3">
                    <img src="resimler/2664704_810x458.jpg" alt="kabak tatlısı"  style="font-size: 12px;width: 400px;height: 350px; margin-bottom: 15px;">
                </div>
                <div class="col-sm-4 my-5"  style="padding-left: 120px;">
                    <h2>Tahinli kabak tatlısı</h2>
                    <p style="font-size: 20px;">Kabak tatlısı yurdumuzun her yöresinde yapılır ancak Akdeniz usulü kabak tatlısını farklı kılan detayları var. Antalya yöresinde kabak tatlısı üzerine tahin ve ceviz konuluyor. Hatay yöresinde ise normal kabak tatlısının yanı sıra, kireçte bekletilmiş daha sert ve farklı bir tadı olan kabak tatlısı da yapılır.</p>
                </div>
            </div>  

            <div class="row">
                <div class="col-sm-4 my-3">
                    <img src="resimler/piyaz-34454.webp" alt="piyaz"  style="font-size: 12px;width: 400px;height: 350px; margin-bottom: 15px;">
                </div>
                <div class="col-sm-5 my-3"  style="padding-left: 120px;">
                    <h2>Tahinli piyaz</h2>                
                    <p style="font-size: 20px;">Akdeniz’e özgü bu piyaz türü lezzetini tahinden alır. Normalde fasulye piyazlık haşlanır, içine küçük küçük doğranmış domates, biber ve yumurta konur. Üzerine tahin ve cevizle karıştırılmış tarator sos eklenir. Tahinli piyaz özellikle Antalya’da o kadar çok seviliyor ki sadece piyaz yemek için bile lokantara giden var. Aksu Şimşek Köfte Piyaz, Şişçi İbo, Piyazcı Ahmet gibi lokantalarda bu lezzetli tatmalısın.</p>
                </div>

            </div>  
            
            <div class="row">
                <div class="col-sm-4 my-3">
                    <img src="resimler/kunefe-34455.webp" alt="künefe"  style="font-size: 12px;width: 400px;height: 350px; margin-bottom: 15px;">
                </div>
                <div class="col-sm-4 my-3"  style="padding-left: 120px;">
                    <h2>Künefe</h2>
                <p style="font-size: 20px;">Akdeniz mutfağının en meşhur tatlısıdır künefe. Kadayıfla yapılan künefenin en önemli özelliği arasına konulan tuzsuz peyniri. Bu özel peynir pişince eriyerek tatlıya bambaşka bir lezzet kazandırıyor. Piştikten sonra şerbet dökülerek servis edilir. Kendine has bir tatlı olması, künefeyi sadece Akdeniz değil, Türk mutfağında da önemli lezzetleri arasına oturtuyor.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 my-3">
                    <img src="resimler/babagannus-34456.webp" alt="Babagannuş"  style="font-size: 12px;width: 400px;height: 350px; margin-bottom: 15px;">
                </div>
                <div class="col-sm-4 my-5"  style="padding-left: 120px;">
                    <h2>Babagannuş</h2>
                    <p style="font-size: 20px;" >Babagannuş, yaz aylarının en sevilen yemeklerinin başında gelir. Patlıcan, domates, biber önce közlenir. Sonra küçük küçük doğranır içerisine soğan, çeşitli baharatlar, sarımsak ve zeytinyağı katılarak salata haline getirilir. Sofraların en sevilen mezelerinden biridir.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 my-3">
                    <img src="resimler/adanakebap-34457.webp" alt="adanakebap"  style="font-size: 12px;width: 400px;height: 350px; margin-bottom: 15px;">
                </div>
                <div class="col-sm-4 my-4"  style="padding-left: 120px;">
                    <h2>Adana kebabı</h2>
                    <p style="font-size: 20px;">En meşhur kebap türlerinden biri olan Adana kebabı da Akdeniz mutfağının önemli yemekleri arasında yer alır. Erkek koyun etinden çekilen kıyma ile yapılan bu kebap yanında soğan ve pilav gibi garnitürlerle servis edilir. Adana’ya gidip kebap yemeden dönülmez. Peki “Adana’da en lezzetli kebaplar nerede yenir” diye sorarsan Elem Restoran, Bol Kepçe, Kazancılar, Yeşil Kapı, Kebapçı Mesut gibi restoranları deneyebilirsin. </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 my-3">
                    <img src="resimler/kabune-asi-30370.webp" alt="Kabune"  style="font-size: 12px;width: 400px;height: 350px; margin-bottom: 15px;">
                </div>
                <div class="col-sm-4 my-5"  style="padding-left: 120px;">
                    <h2>Kabune</h2>
                    <p style="font-size: 20px;">Isparta yöresine ait olan bu yemek nohut, et ve pilav üçlemesinden oluşuyor. Önce kemikli et haşlanır, daha sonra soğanlı pişme tenceresine, pirinç ve nohut konur. Ters çevrilerek servis edilir. Düğün, dernek gibi toplantıların vazgeçilmez yemeklerinden biridir.</p>
                </div>
            </div>        
        </div>
    </div>