 <div class="text-center my-4">
        <h1>AKDENİZ MUTFAK KÜLTÜRÜNÜN TARİHSEL GELİŞİMİ</h1>
    </div>
    <div style="padding-left: 50px; padding-right: 200px;">
        <h3 class="text-center">Özet</h3>
        <p style="font-size: 18px;"> İnsanoğlunun varoluşundan bu yana sahip olduğu mutfak kültürü, sürekli bir gelişim ve değişim içinde olmuştur. Akdeniz
            bölgesi, gerek coğrafi açıdan önemli bir yerde olması, gerekse verimli topraklarında yetişen yiyecek maddelerinin çeşitliliği
            nedeni ile önemli bir konuma sahiptir. Sahip oldukları bu özellikler nedeniyle Akdeniz bölgesi ticaretin, savaşların ve
            göçlerin yoğun olarak yaşandığı bir bölge haline gelmiştir. Bu durum Akdeniz mutfak kültürünün oldukça fazla etkilenmesini
            beraberinde getirmekle birlikte, Akdeniz bölgesinin içinde barındırdığı birçok farklı bölgenin mutfak kültürünü de farklı
            açılardan etkilemiştir. Bu çalışmada Akdeniz mutfak kültürünün tarihsel gelişimi ve değişimi, kronolojik bir şekilde
            incelenmeye çalışılmış ve günümüzde ki değişimlerinin incelenmesi amaçlanmıştır. Çalışmada nitel veri toplama
            yöntemlerinden doküman analizi kullanılmıştır. Akdeniz bölgesinin mutfak kültürünün kökenleri, tarih, arkeoloji ve
            antropoloji gibi bilim dallarında verilen eserlerden faydalanılarak ortaya konmaya çalışılmış, incelemeler sonucunda Akdeniz
            mutfak kültürünün zaman içinde belli değişimlere uğramış olduğu ve bu değişimlerin etkisiyle eskiye kıyasla yeni bir mutfak
            kültürü ve düzenine ulaştığı saptanmıştır.
        </p>
            <h3>1. GİRİŞ</h3>
             <p>Mutfak kültürü kavramsal olarak insanların açlık hissini gideren yiyecek, içecek türleri ve
                bunların hazırlanması, pişirilmesi, saklanması ve tüketilmesi sürecini barındıran, buna bağlı
                olarak mekanı ve ekipmanı, yeme-içme geleneği ile bu çerçevede gelişen inanış ve
                uygulamalardan oluşan birikimsel, bütünsel ve kendine özgü kültürel bir yapıyı oluşturmuştur Bu kavram çerçevesinde Akdeniz mutfak kültürüne bakıldığında son derece zengin bir
                geçmişe ve içeriğe sahip bir mutfak kültürü olduğu görülmüştür. Bölgeye çeşitli etnik
                grupların egemen olması, savaşlar, göçler, farklı inançların yayılması, çeşitli doğal afetler,
                iklim üzerinde yaşanan değişimler, ticaret ve yeni keşifler gibi etmenler bu zenginliğe önemli
                katkılarda bulunmuştur. Akdeniz bölgesinin geçmişinden bugüne sahip olduğu zengin
                kültürüyle bu konuda önemli bir yerde olduğu görülmüştür (Güler, 2007: 19).
                Akdeniz insanoğlunun kıyılarına ulaşmasından milyonlarca yıl önce oluşumunu
                tamamlamıştır. İnsanoğlunun yeni yerleşim yerleri, besin ve diğer hayati kaynaklar aramaya
                başlamasıyla birlikte 'karalar arasında bir deniz' haline gelmeye başlamıştır. Günümüz
                Roma'sı yakınındaki bir avcı kampından edinilen bulgulara dayanarak, ilk insan toplulukları
                Akdeniz'i sınırlayan topraklara günümüzden 435.000 yıl öncesinde yerleşmiştir (Abulafia,
                2012:31).
                Bilimsel araştırmalara göre ilk insansılardan itibaren insanların yaklaşık 3.500.000 yıldır var
                olduğu düşünüldüğünde; Akdeniz'i keşfetmesinin geç bir olay olduğu ve yaklaşık son 13.000
                yıldır yerleşik yaşama geçtiği, kırsal ve kentsel yerleşimlerin bu dönemde başladığı
                saptanmıştır. Bu yüzdendir ki beslenmesinde neleri sevip neleri sevmediği ya da beslenme
                hakkındaki tercihleri kesin olarak belirlenemediğinden Akdeniz mutfak kültürü hakkında
                ancak son 13.000 yıla dair bilgi ve bulgulardan yola çıkılarak yorum yapılmıştır. (Uhri, 2016:
                17; Sevin, 2003: 45).
                Yaşanan bu gelişmeler günlük hayat ile birlikte şüphesiz kültürü de değiştirmiştir. İlk
                topluluklarda yaşam, avcılık ve toplayıcılık üzerine kurulmuştur. Mutfak kültürü bu yaşam
                algısının içinde yabani yiyecek toplama, balıkçılık, tarım ve hayvancılık olmak üzere dört
                temele sahip olmuştur. Bu ilk toplulukların değişen yaşam şartlarıyla paralel olarak mutfak
                kültürlerinin de değiştiği görülmüştür. İnsanlar yerleşik yaşama geçen tarım toplulukları
                haline geldikçe atalarından kalan avcılık ve toplayıcılık özelliklerini geçmişte bırakmıştır. Bu
                dönüşüm süreciyle ifade edilmek istenen, günlük hayattaki değişimler yemek kültürünü
                değiştirmiş, değişen mutfak kültürünün ise toplumları değiştirdiği görülmüştür
             </p>
            <h3>2.AKDENİZ MUTFAK KÜLTÜRÜNÜN TARİHSEL GELİŞİMİ</h3>
            <p>İnsanların, yaşamları boyunca beslenmek durumunda olması, ilk çağlardan bu yana yemek
                yeme faaliyeti ile ilgili bir takım kuralların oluşmasına sebep olmuştur. Bu kurallar bütünü,
                zaman geçtikçe toplumların kendi yapılarına ve değer yargılarına uygun gelenek, görenek,
                dinsel inançları, töre ve törenleriyle birleşerek o toplumun kendine has olan mutfak kültürünü
                ortaya çıkartmıştır (Halıcı, 1999: 10).
                Bir bölgenin mutfak kültürünü incelerken arkeoloji başvurulan bilim dallarından biri
                olmuştur. Ancak arkeologların bulduğu yiyecek kalıntıları bozulmaya karşı dirençli türlerle
                sınırlı kalmıştır. Bu bağlamda birçok yiyecek maddesi organik maddelerden oluştuğundan
                kolayca çürüdüğü gözlemlenmiştir. Ulaşılabilen yiyecek kalıntılarının en belirgin sınıfını
                inorganik maddeler ve aynı zamanda çürümeye karşı dirençli olduğundan hayvan kemikleri
                oluşturmuştur. (Outram, 2008: 35)
                Akdeniz mutfak kültürünün tarihsel gelişimi incelendiğinde ilk izlerin Cebelitarık'ta
                bulunduğu gözlemlenmiştir. İncelemelerde Cebelitarık insanlarının yaşadıkları toprakların
                deniz kıyılarına yakınlığı ve buna bağlı olarak yiyecekleri arasında deniz yumuşakçaları ve
                kabukluları, hatta deniz kaplumbağası ve ayı balığı bulunması dikkat çekmiştir. Antalya’da
                Karain Mağarasında bulunan bitki ve kemik kalıntıları da burada yaşayan Akdeniz halkının
                ahlat yemişi, kuzugöbeği mantarı, acı bakla, sarı mercimeğe benzeyen bir baklagil olan
                mürdümük o dönemden kalan ve hala varlığını sürdüren yiyecek maddelerindendir. MÖ 11.000 yılında Sicilya'ya yerleşen insanların burada tilki, tavşan ve geyik avladığı, aynı
                zamanda bol miktarda deniz yumuşakçaları tükettiği, neredeyse aynı dönemlerde Karain
                Mağarasında bulunan hayvan figürleri de bu bölgede yaşayan insanların ortak bir beslenme
                piramidine sahip olduğunun kanıtı olmuştur (Abulafia, 2012: 32-33; Işın, 2018: 12-16).
                MÖ 8000 yılları civarında küresel bir ısınma oluşmuş; bunun sonucunda çevredeki bitki ve
                hayvan varlığında, insanları kimi zaman geleneksel avlarının peşinden harekete geçirten, kimi
                zaman da başta deniz ürünleri olmak üzere alternatif gıda türlerinin arayışına yönelten
                değişimlerle sonuçlanmıştır (Abulafia, 2012: 35-37).
                Bu yiyecek arayışında olan göçebe Akdeniz insanları denize kısmen uzak olan elverişli
                tepelere göçmüşler ve yerleşimden yerleşime zikzaklar çizerek kendilerine uygun yerleri
                bulmaya çalışmışlardır. Bunun sonucunda insan varlığı, hayvanların sayısı üzerinde çok etkili
                olmuştur. Ağırlıklı olarak deniz ürünleri ve yabani yemişleri tüketen bu insanlar gittikleri
                yerlerde var olan yabani atları avlayıp yemeye başlamışlardır. Bunun en önemli kanıtı ise
                avladıkları at etinden oluşan ziyafetlerini mağaralara resmetmeleri olmuştur. Mağaralarda
                giderek azalan at figürleri, at popülasyonunun azaldığına işaret etmiştir (Abulafia, 2012: 35-
                37).
                Akdeniz mutfak kültürünün temellerinden biri olan zeytinyağının, MÖ 6000'li yılların
                başında, bugün Suriye ve Lübnan'ın bulunduğu bölgeden dağıldığı saptanmıştır. Sağlık,
                aydınlatma ve yemek alanlarında kullanılan zeytinyağı, Akdeniz halkı için çok önemli bir hale
                gelmiş, hatta adına kutsallık atfedilmiştir (Gürsoy, 2014:44; Közleme, 2012: 66).
                MÖ 5000 yıllarında, aletler daha rafine hale gelmiş fakat hayvan ekonomisi ve tahıl ekimi
                henüz ortaya çıkmıştır. Bakır Taş Çağı'nda beslenme deniz ürünleri üzerinde yoğunlaşmış,
                deniz yumuşakçaları trança ve orfoz balıkları tüketilmiştir. Bu dönemin ardından gelen
                zamanlarda sığır, keçi, koyun ve domuzun evcilleştirmesi; et, süt, aletler için kemik ve zaman
                içinde giysi yapımında kullanılan iplik açısından istikrarlı bir kaynak oluşturmuştur. Mevsim
                döngülerinin farkına varan insanoğlu bu dönemde yaklaşık 5000 yıl önce tanıştıkları yabani
                tahılları ekmeyi, biçmeyi ve öğütüp bir ürün elde etmeyi öğrenmiştir. Bugün kullanılan ekmek
                buğdayının oluşması yabani tahılların diğer yabani tahıllarla melezleşmesi ile ortaya çıkmıştır.
                Yarı yabani gemik buğdayından başlayıp, erken dönem, buğday ve arpa üretimiyle çeşitli tipte
                tahılın yetiştirilmesiyle sonuçlanmıştır. Akdeniz halkı yarı yabani olan gemik buğdayını
                muhafaza etmek için henüz yeşilken ateşte kavurma yöntemini bulmuş ve bu yöntem
                Anadolu’da firik buğdayı yapmak için kullanılan yöntem haline gelmiştir. Bu yıllarda yapılan
                aletler daha çok savaşlarda kullanılan aletleri içermiştir. Bu savaşlar sonucunda Anadolu
                halklarından bir kaç bin kişilik bir topluluk Kıbrıs'a yerleşmiş, Anadolu'dan getirdikleri
                bilgileriyle topraklarını ekmişler ve hayvan sürüleri oluşturmuşlardır. Bu hayvan sürülerinin
                ve tahılların kökenleri Akdeniz'deki yabani bitki ve hayvan türleriyle ilişkisi
                bulunmamaktadır. Bu da göstermektedir ki bu halklar Akdeniz bölgesine getirdikleri bu tahıl
                ve hayvan türleri ile Akdeniz mutfağına bir yenilik getirmiştir. Buğday, arpa ve mercimek
                ekmişler ve yemek için bu ürünleri kullanmışlardır (Abulafia, 2012: 36-37; Gürsoy, 2014: 18,
                Uhri, 2016: 25-27: Işın, 2018, 27).
                MÖ 3000-2500 yılları arasında Akdeniz halkı et ve tahıl tüketmiş, yanı sıra kabuklu
                yumuşakçalar, ton balığı ve yunus etiyle beslenmişlerdir. Kaplumbağa eti de beslenmelerinde
                önemli bir yer tutmuştur. MÖ 1700'lü yıllarda koşullar iyileşmiş ; bu dönemde sığır ve domuz
                eti, atalarının gözdesi olan kaplumbağa güveçlerine tercih edilmiştir.. Bu yıllarda Akdeniz
                halkının ister saray ister ticari kullanım için olsun zeytinyağı, tahıl ve diğer yiyecek-içecek
                maddelerini muhafaza etmek için devasa kavanozlar ürettiği gözlemlenmiştir. Şarapta bu
                yiyecek-içecek maddelerinin içinde önemli bir yer tutmuştur. Profesyonel anlamda ticarette
                gemi kullanımı bu dönemde oldukça hızlanmıştır. Doğu Akdeniz bölgesinden Mısır'a gönderilen bir ticaret gemisinde bulunan zeytinyağı, şarap ve sığır bu dönemde yapılan
                yiyecek-içecek ticaretinin ve Akdeniz bölgesi beslenmesinin temellerini göstermiştir. MÖ 730
                yılına bakıldığında zeytinyağı, şarap ve tahıl ticaretinin bu tarihlerde daha baskın olduğu,
                aradan geçen zamanda sığır etinin beslenmede ve ticarette bir yer teşkil etmediği
                görülmüştür (Abulafia, 2012: 47-48).
                MÖ 3. yüzyıla gelindiğinde Akdeniz ticaretinde rağbet gören belli başlı yiyecek-içecek
                maddeleri olduğu görülmüştür. Karadeniz'den fındık; Khios (Yunanistan)'tan peynir;
                zeytinyağı, incir, bal ve yabandomuzu, geyik ve keçi eti ticaret gemileriyle Akdeniz'e
                getirilmiştir (Abulafia, 2012:189). Akdeniz insanının atalarından gelen hayvan yetiştirme
                becerisini ilerleyen dönemlerde sürdürememesinin kanıtı olarak diğer bölgelerden et ithal
                etmesi gösterilmiştir.
                Gürsoy (2014), Akdeniz'in bir içdeniz ya da büyük bir göl olarak düşünüldüğünde,
                bulunabilen besin maddelerinin hep aynı olduğunu söylemiş, bu sebeple 7. yüzyıla kadar
                Akdeniz beslenme kültürünün değişmediğini belirtmiştir. Temel oluşturan bu besin
                maddelerini ise tahıl, dolayısıyla undan yapılan hamur işleri, ekmek, şarap ve zeytinyağı
                olarak sıralamıştır (Gürsoy, 2014: 130-131).
                7. yüzyılda Akdenizliler İslam dini ile tanışmışlardır. Bu tanışmayı sağlayan en önemli
                topluluk 711 yılında İber Yarımadası’nı fetheden Endülüs Emevileri’dir. Neredeyse bütün
                yarımadayı fetheden bu devlet 11. yüzyıldan sonra gerileme dönemine girmiş ve nihayet 1492
                yılında tüm topraklarını kaybederek bölgeden çekilmiştir. Her ne kadar bölgeden çekilmiş
                olsa da Akdeniz’in en önemli ülkelerinden olan İspanya’nın mutfak kültürüne önemli bir
                miras bırakmıştır. Arapların İber Yarımadası’na getirdikleri ‘pirinç, şeker, patlıcan, turunç ve
                susam gibi ürünler İspanya mutfağını derinden etkilemiştir. ‘Köfte, badem ezmesi, bademli
                kurabiye, koz helvası, üzüm pekmezi ve meşhur pirinçli safranlı paella yemeği’ Endülüs
                döneminden İspanya’ya kalan mirası oluşturmuştur. İslam dininin domuz etini
                yasaklamasıyla da koyun, keçi ve tavuk eti tüketimi çoğalmıştır. (Gürsoy, 2013: 49; Işın,
                2018: 154).
                Arapların 827-1091 yılları arasında hükmettikleri bir Akdeniz adası olan Sicilya'nın bazı
                yemek isimlerinin Arapça olarak süregelmesi bu besin ortaklığının bozulduğunun bir
                göstergesi olmuştur. Örneğin, Rikota peyniri içeren bir tatlı olan 'cassata' yuvarlak tepsi
                anlamına gelen 'quas' kelimesinden, helva benzeri bir şekerleme olan bal, susam ve bademden
                yapılan 'cubbaita' tatlısı ise adını 'qubbayt' kelimesinden almıştır (Işın, 2018: 317-318).
                Araplar bu katkılarının yanı sıra Akdeniz bölgesinde fethettikleri bölgelere ‘patlıcan, ıspanak,
                salatalık, limon, turunç, muz ve şekerkamışı’ gibi o zamana kadar bilinmeyen birçok yeni
                yiyecek maddelerini götürmekle birlikte muhtemelen bu maddelerin yetiştirilmesine
                yarayacak olan ileri tarım ve sulama teknolojilerini de Akdeniz halklarına öğretmişlerdir (Işın,
                2018: 152-153).
                1191-1192 yılına gelindiğinde Akdeniz'de baharat ticareti başlamıştır. Avrupalı devletlere
                Frenk kimyonu, kimyon ve kişniş gibi baharatlar yüksek vergi oranlarıyla satılmıştır. 1390'lı
                yıllara gelindiğinde Akdeniz bölgesinden diğer bölgelere pamuk, rafine şeker, pirinç, badem
                ve hurma ithal edilmiştir. Kurutulmuş meyveler ve tahıl yine bu dönemde ve bu dönemden
                sonraki yıllarda ticarette önemli bir yere sahip olmuştur (Abulafia, 2012: 287,423).
                Osmanlı Devleti 1453 yılına kadar kozmopolit yapısını koruyan Akdeniz bölgesinin
                kapılarını, İstanbul'un fethinin sonucunda Gelibolu yarımadasına deniz üssü kurulmasıyla
                birlikte aralamıştır. 1500'lü yıllara gelindiğinde Suriye, Mısır, Cezayir, Tunus, Kıbrıs
                fethedilmiş ve bu yüzyılın sonlarında Girit adasının da fethedilmesiyle birlikte, Ortaylı’nın
                (2013) deyimiyle Osmanlı Devleti ' Akdeniz bölgesinin son muhteşem imparatorluğu ve onu bütün kültürleri ve mirasıyla birlikte barındıran ve çağdaş dünyaya taşıyan bir Akdeniz
                İmparatorluğu' haline gelmiştir (Işın, 2018: 246; Ortaylı, 2013: 35).
                Bu durum Osmanlı Devletinin, Akdeniz mutfak kültürünün diğer mutfak kültürlerinden
                etkilenmesinde ve diğer mutfak kültürlerini etkilemesinde önemli bir noktada yer almasıyla
                sonuçlanmıştır. 16. ve 17. yüzyıllarda Akdeniz bölgesini önemli bir ticaret noktası haline
                getiren Osmanlı Devleti, Akdeniz bölgesinden elde edilen ve ticaret yoluyla bu bölgeye gelen
                yiyecek maddelerini Avrupa'ya özellikle İspanya, Fransa ve İtalya gibi dönemin güçlü
                Akdeniz ülkelerine ihraç etmiştir. Bu yiyecek maddeleri arasında 'kuru incir ve üzüm, buğday,
                şeker, baharat, sadeyağ, susam, safran, bal, mumlu balık yumurtası ve Kıbrıs'ın incirkuşu
                turşusu' önemli bir yer tutmuştur. Bu mutfak kültürü etkileşiminin nedenleri arasında
                Osmanlı'nın fethettiği yerlere durumları iyi olmayan insanlar için yiyecek-içecek dağıtımı
                yapan hayır kurumları açmış olması, atamış olduğu devlet memurlarını, dönemin mutfak
                kültürünün zirve noktasının yaşandığı merkez olan İstanbul'dan tayin etmesi sayılmıştır.</p>
            <h3>3.AKDENİZ MUTFAK KÜLTÜRÜNDE MEYDANA GELEN DEĞİŞİMLERİN
                GÜNÜMÜZE YANSIMASI
            </h3>
              <p>Akdeniz mutfak kültürünün ilk izlerine bakıldığında etin önemli bir yer tuttuğu açıkça
                görülmüştür. Ancak bu durum günümüzde farklılık göstermiştir. Doğu Akdeniz bölgesinin,
                coğrafi olarak Orta Doğu'ya yakınlığı münasebetiyle halen oldukça fazla tüketmekte olduğu
                et, Batı Akdeniz bölgelerinde o kadar fazla tüketilmemekte olduğu saptanmıştır. Av etine olan
                ihtiyaç gün geçtikçe azalmış ve dolayısıyla mutfaklarında av eti ile yapılan yemekler ortadan
                kalkmıştır. Sonuç olarak Batı Akdeniz iklimin elverişliliği ile tarımsal gıda ürünlerine
                yönelirken, Doğu Akdeniz coğrafyanın etkisiyle hayvansal gıdalara yakınlaşmıştır.
                Diğer bölgelerden gelen tohumları değerlendirmesini çok iyi bilen Akdeniz insanı,
                günümüzde de bölgenin verimli toprakları sayesinde meyve-sebze yetiştiriciliğinde önemli bir
                rol oynamakla birlikte, mutfak kültürlerini de bu çevrede geliştirmiştir (Şengül ve Türkay:
                2016: 93). Deniz ürünleri Akdeniz halkı için her zaman en önemli besin kaynaklarından biri
                olmuştur. Mevcut durumda eskisi kadar çok tüketilmemek ile birlikte önemini hala
                sürdürmekte olduğu görülmüştür. Kaplumbağa eti tüketen eski Akdeniz halkı süreç içerisinde
                bu alışkanlığını kaybetmiştir. Bu iki durumun nedeni daha önce açıklandığı üzere, Akdeniz
                halkının yabanıl keçi ve sığır gibi hayvanları evcilleştirmesidir. Bu sayede besin yelpazeleri
                genişlemiş ve yeni besinleri diyetlerine eklemişlerdir.
                2000'li yıllara gelindiğinde aradan geçen uzun zamandan sonra Akdeniz mutfak kültürü
                domuz eti ve yağından soyutlanarak başka bir boyut kazanmıştır. Artık Akdeniz mutfağı
                temelde balık, zeytinyağı ve sebzeden yana zengin bir mutfak olmuş ve Kuzey Avrupa
                diyetlerinden daha sağlıklı görülmeye başlanmıştır. Bölgesel Akdeniz mutfaklarına ilgi,
                Avrupa ve Kuzey Amerika'nın her yerine yayılmıştır (Şengül ve Türkay: 2016: 92; Öney Tan:
                2016:3).
                Akdeniz mutfağı bütün bu gelişmelerden sonra, Afrika ve Arap mutfaklarının etkisiyle tahıl
                ve baharat, Ege ve Balkan mutfaklarının etkisiyle sebze, meyve, süt türevleri ve kendi
                geçmişinden getirdiği zeytinyağı, üzüm suyu ve deniz ürünleri gibi yiyecek malzemelerinin
                temel taşı olduğu bir mutfak haline gelmiştir.
             </p>   
                <h3>4.SONUÇ</h3> 
                <p>Akdeniz mutfak kültürü son derece zengin bir geçmişe ve içeriğe sahip olmuştur. Bölgeye
                    çeşitli etnik grupların egemen olması, savaşlar, göçler, farklı inançlara mensup insanlar, çeşitli
                    doğal afetler, iklim üzerinde yaşanan değişimler, ticaret ve yeni keşifler gibi etmenler bu
                    zenginliğe önemli katkılarda bulunmuştur. Akdeniz mutfak kültürü bütün bu etmenlerin etkisiyle günümüze kadar birçok değişikliğe uğramıştır. Elde edilen veriler bu durumu
                    destekler nitelikte olmuştur. Geçmişten günümüze Akdeniz mutfağının daha sağlıklı olarak
                    gelişimi bir yaşam tarzı olarak kabul edilmesini sağlamıştır. Bu kabul edilme durumu sağlık
                    alanındaki otoritelerin de önerileriyle sadece Akdeniz bölgesinde değil tüm dünyada kabul
                    görmüştür. Bu şekilde dünyanın en önemli ve en zengin mutfaklarından biri haline gelen
                    Akdeniz mutfağının üstünlüğünün en önemli sebebi geçmişten beri önemli bir ticaret bölgesi
                    olması ve oldukça elverişli topraklara sahip olmasıdır.
                    Sonuç olarak Akdeniz bölgesinin somut göstergelerinden birisi olan mutfak kültürü bütün
                    dünyanın ilgisini çeken yapısıyla önemli bir konuma sahiptir. Toplumun kendi kültürel
                    zenginliklerinin farkında olmalarını sağlamak ve yapılacak diğer çalışmalara zemin
                    hazırlamak gerekmektedir. Bu konumunu sağlamlaştırmak için kendine has yapısının
                    korunması ve gelecek kuşaklara doğru bir şekilde aktarılması gerekmektedir.
                    </p>
    </div>