 <div class="text-center my-5" style="padding-top: 50px;">
        <h1>Isparta Yöresel Yemeklerin Tarifleri</h1>
    </div>
    
    <div class="container my-5">
        <div class="row">
            <div class="row">
                <div class="col-sm-4    ">
                    <img src="resimler/isparta-banak-yemegi-768x576.jpg" alt="adanakebap"  style="font-size: 12px;width: 450px;height: 380px; ">
                    <h3 class="my-3">Banak Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Banak Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>1 kg kemikli dana eti</li>
                        <li>2 adet pide</li>
                        <li>3 yemek kaşığı yağ</li>
                        <li>1 tutam karabiber</li> 
                        <li>1 tutam tuz</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Et bir tencerede hafif kaynatılarak kanın etten ayrılması sağlanır. </li>
                        <li> Kanından ayrılan et başka bir tencereye alınır, etin üzeri kaplanana dek su ile doldurulur.</li>
                        <li>Tekrar haşlanır etler başka bir kaba alınarak kemiklerinden ayrılır.</li>
                        <li>Bu esnada başka bir yerde pidelerimiz baklava dilimi şeklinde küçük dilimlere ayrılır.</li>
                        <li>Senirkent'e özgü bakır banak tabaklarına kesilen pideler koyulur üzerine haşlanmış etimiz didilerek pidenin üzerini kapatacak şekilde ilave edilir.</li>
                        <li>İlave dilen etin üzerine başka bir kap da haşlanan kemiklerin suyu ile haşlanmış etin suyu pideler ıslanıncaya kadar etin üzerine ilave edilir.</li>
                        <li>Derin tencerede kaynayan suya, kanı ve sinirleri temizlenmiş et eklenir.
                            Kaynama esnasında suyun üzerine çıkan ve kef adi verilen istenmeyen kısım kaşık veya kevgir yardımıyla toplanıp atılır.</li>
                        <li>Isparta yöresindeki profesyonel asçılar et suyuna tat vermesi için doğranmış soğan koymaktadırlar.
                            Bunun için halka doğranmış soğan karabiber ekilerek biraz bekletildikten sonra kaynamakta olan tencereye pişmeye yakın konur.</li>
                        <li>Biraz kaynadıktan sonra seçilerek atılır. Etler elle ayrılabilecek kıvama geldiğinde banak hazır demektir.
                            Diğer tarafta pide lokmalık parçalara kesilerek yayvan bir tabağa tek kat olarak dizilir.
                            Kâfi miktarda suyla birlikte etler bunun üzerine dökülüp dağıtılır.
                            Tercihen üzerine karabiber serpilir.    </li>
                    </ol>
                </div>
                <div class="col-sm-4 my-5 ">
                    <img src="resimler/3-bakla-borani.jpg" alt="adanakebap"  style="font-size: 12px;width: 450px;height: 380px;">
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Bakla Borani Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>1 adet orta boy kuru soğan.</li>
                        <li>500 gr. taze bakla. </li>
                        <li>1 su bardağı su.</li>
                        <li>1 tutam un.</li> 
                        <li>1 adet limon suyu.</li>
                    </ul>
                    <h4>Sarımsaklı Yoğurt için Malzemeler.</h4>
                        <ul>
                            <li>1 su bardağı yoğurt. </li>
                            <li> 2 diş sarımsak.</li>
                            <li> ¾ bağ dereotu.</li>
                        </ul>
                    <h4>Üzeri için Malzemeler.</h4>
                        <ul>
                            <li>3 yemek kaşığı tereyağı. </li>
                            <li>  yemek kaşığı Ayçiçek yağı.</li>
                            <li> 2 yemek kaşığı çam fıstığı Pul biber.</li>
                        </ul>
                </div>
                <div>
                    <h3 class="my-3">Bakla Borani Tarifi Nasıl Yapılır?</h3>
                    <ol>
                        <li>1 kg baklanın baş kısımları kopartılıp temizlenip yıkanır. Ardından 1santim genişliğinde minik minik doğranır.</li>
                        <li>Doğranmış baklalar orta ocak ateşte derin bir tencereye konularak yarım çay bardağı sıvıyağ ve üzerine 1 tatlı kaşığı tuz serpilerek harmanlanır. Baklaların sararması için 1 tatlı kaşığı şeker serpilerek kavrulur. Sararan baklaların üzerine kaynamış su ilave edilir. (su seviyesi baklaların biraz altında kalması gerekir.)</li>
                        <li>Bol suda pişen baklalar tencereye alınıp orta ocak ateşe konularak içerisine 1 kase pilavlık bulgur eklenerek kaynamaya bırakılır. Kaynamaya başladığında kısık ateşe alınıp 45 dakika pişmesi gerekir. </li>
                        <li>Bir kaseye yoğurt ve 2 diş sarımsak ezilerek karıştırılır. Süzme yoğurtla ve tuzla harmanlanır. Baklalar suyunu çekince sarımsaklı süzme yoğurt üzerine yayılıp harmanlanır. Ardından servis tabağına alınarak üzerine kızartılmış kaymak yağı serpilir.</li>
                    </ol>
                </div>
                <div class="col-sm-4    ">
                    <img src="resimler/salgam-asi.jpg" alt="adanakebap"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Salgam Aşı  Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Salgam Aşı Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>3 adet şalgam</li>
                        <li>1 adet kuru soğan</li>
                        <li>200 gr. kıyma</li>
                        <li>Sıvı yağ</li> 
                        <li>Yarım su bardağı börülce</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Şalgam ve havuçları yıkayıp, kabuklarını soyun</li>
                        <li>Tavada tereyağını eritin.</li>
                        <li>1 taşım kaynatıp, ateşten alın.</li>
                        <li>Tavadaki malzemeyi. tenceredeki şalgam ve havuçların üzerine boşaltın Üzerlerini kapatacak kadar et suyu ekleyip, bir taşım daha kaynatın.</li>
                        <li>Ateşi kısıp, tencerenin kapağını kapatın.</li>
                    </ol>
                </div>
                <div class="col-sm-4    ">
                    <img src="resimler/yatirtma.jpg" alt="adanakebap"  style="font-size: 12px;width: 450px;height: 380px;">
                    <h3 class="my-3">Yatırtma Tarifi Nasıl Yapılır?</h3>
                </div>
                <div class="col-sm-3  my-3" style="padding-left: 150px;">
                    <h3>Yatırtma Tarifi İçin Malzemeler</h3>
                    <ul> 
                        <li>6-8 Adet Orta Boy Patlıcan</li>
                        <li>500 gr Kıyma</li>
                        <li>3 Adet Domates</li>
                        <li>3 Adet Sivri Biber</li>
                        <li>2 Adet Kuru Soğan</li>
                        <li>2 Diş Sarımsak</li>
                        <li>Yarım Demet Maydanoz</li>
                        <li>1 Çorba Kaşığı Salça</li>
                        <li>1 Çay Bardağı Sıvı Yağ</li>
                        <li>Karabiber</li>
                        <li>Tuz</li>
                        <li>1 Su Bardağı Sıcak Su</li>
                    </ul>
                </div>
                <div>
                    <ol>
                        <li>Patlıcanlar alacalı soyularak kızartılır ve fazla yağı aldırılır. Tepsiye ya da yayvan bir tencereye dizilen patlıcanların uzunlamasına karnı yarılır.</li>
                        <li>Soğan, sarımsak, kıyma, sivri biber ve domatesler kavrulur. </li>
                        <li>İnce doğranmış maydanoz ilave edilir. Karabiber ve tuz da eklenerek hazırlanan iç malzeme bir kaşık yardımıyla patlıcanların içlerine doldurulur. </li>
                        <li>Salça ve sıcak su karıştırılarak patlıcanların olduğu tepsiye dökülür, kısık ateşte ocakta ya da fırında pişirilir.</li>
                        <li>Not: Patlıcanlar tepsiye yatırıldığı için bu ad verilir.</li>
                    </ol>
                </div>